.suez{
    font-family: 'Suez One', serif;
}
.tit{
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}
.tit1{
    font-family: 'Arvo', serif;
    font-family: 'Signika Negative', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-weight:700;
}
#banner{
    background: url('../images/Banner.jpg') no-repeat 0 0;
    background-size: cover;
    padding: 120px 0px;
}
.section{
    background: #F2F2F2;
}
.section-head{
    font-size: 25px;
    color: #424242;
    margin: 40px 0px;
}
.section-head::after{
    display: block;
    background-color: #68686898;
    content:" ";
    height: 1px;
    width: 400px;
    margin: 10px  auto;
}
.card{
    background: #F2F2F2;
}
.card-body{
    border-bottom: 1px dashed #6C757D;
}
.card-body p{
    font-size: 15px;
}
#block{
    background:url('../images/tree.jpg') no-repeat 0 0;
    background-size: cover;
    padding: 60px 0px;
}
.footer-head::after{
    display: block;
    background-color: #ffffff;
    content:" ";
    height: 1px;
    width: 400px;
    margin: 10px  auto;
}   
.btn{
    letter-spacing: 3px;;
}
#Brand img{
    filter: opacity(85%) grayscale(300%);
}
@media (max-width: 425px){
    #banner{
        padding: 80px 0px;
    }
    .head{
        font-size: 35px;
    }
    .btn{
        margin-top: 2.0rem !important;
    }
    .b-head{
        font-size: 25px;
    }
    #block{
        padding: 40px 0px;
    }
    .footer p{
        text-align: center !important;
    }
}